<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <!-- Include CSS and other head elements here -->
</head>
<body>
    <!-- Navigation -->
    {{{body}}}
    
    <!-- Footer -->
    {{> partials/footer}}
</body>
</html>
